
BuildTools/macosx/libraries/
BuildTools/macosx/temp/
*.swp

*.xcuserstate

*.xcuserstate

*.xcsettings

*.xcuserstate

*.xcbkptlist

*.xcscheme

BuildTools/macosx/GeoDa.xcodeproj/xcuserdata/xun.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BuildTools/macosx/GeoDa.xcodeproj/project.xcworkspace/xcuserdata/xun.xcuserdatad/UserInterfaceState.xcuserstate

BuildTools/macosx/GeoDa.xcodeproj/xcuserdata/xun.xcuserdatad/xcschemes/GeoDa.xcscheme
