*~

BuildTools/windows/temp/
BuildTools/windows/Debug/
BuildTools/windows/Release/
BuildTools/windows/ipch/
BuildTools/windows/GeoDa.vcxproj.filters
BuildTools/macosx/libraries/
BuildTools/macosx/libraries1/
BuildTools/macosx/temp/
BuildTools/macosx/GeoDa.xcodeproj/
BuildTools/macosx/GeoDa.xcodeproj/xcuserdata/
BuildTools/macosx/GeoDa-leopard.xcodeproj/

*.mode1v3
*.pbxuser
*.sdf
*.suo
*.user
*.csv
*.dbf
*.shx
*.shp
*.kml
*.gal
*.swp
SampleData/

*.xcuserstate

*.xcuserstate

*.xcsettings

*.xcuserstate

*.xcbkptlist

*.xcscheme

BuildTools/macosx/GeoDa.xcodeproj/xcuserdata/xun.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BuildTools/macosx/GeoDa.xcodeproj/project.xcworkspace/xcuserdata/xun.xcuserdatad/UserInterfaceState.xcuserstate


*.xcuserstate

rc/Drop-Files-Here-extra.png

rc/Drop-Files-Here-extra-black.png
