*~

*.deb
*.gwt
*.gal
*.pyc

deps/

swig/*.gwt
swig/_geoda.so
swig/geoda.pyc

BuildTools/centos/libraries/
BuildTools/centos/temp/
BuildTools/centos/build/

BuildTools/ubuntu/libraries/
BuildTools/ubuntu/temp/
BuildTools/ubuntu/product/
BuildTools/ubuntu/build/

BuildTools/windows/.vs/
BuildTools/windows/temp/
BuildTools/windows/enc_temp_folder/
BuildTools/windows/Debug/
BuildTools/windows/libraries/
BuildTools/windows/Release/
BuildTools/windows/ipch/
BuildTools/windows/GeoDa.vcxproj.filters
BuildTools/macosx/libraries/
BuildTools/macosx/libraries1/
BuildTools/macosx/libraries108/
BuildTools/macosx/DerivedData/
BuildTools/macosx/temp/
BuildTools/macosx/temp1/
BuildTools/macosx/temp108/
BuildTools/macosx/build/
BuildTools/macosx/GeoDa.xcodeproj/
BuildTools/macosx/GeoDa.xcodeproj/xcuserdata/
BuildTools/macosx/GeoDa-leopard.xcodeproj/

*.dmg
*.mode1v3
*.pbxuser
*.sdf
*.suo
*.user
*.csv
*.dbf
*.shx
*.shp
*.kml
*.gal
*.swp
SampleData/

*.xcuserstate

*.xcuserstate

*.xcsettings

*.xcuserstate

*.xcbkptlist

*.xcscheme

BuildTools/macosx/GeoDa.xcodeproj/xcuserdata/xun.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BuildTools/macosx/GeoDa.xcodeproj/project.xcworkspace/xcuserdata/xun.xcuserdatad/UserInterfaceState.xcuserstate


*.xcuserstate

rc/GdaAppResources.cpp$*

rc/Drop-Files-Here-extra.png

rc/Drop-Files-Here-extra-black.png
*.opensdf
*.exe
BuildTools/windows/logger.txt

BuildTools/.DS_Store

.DS_Store

*.DS_Store

BuildTools/macosx/libraries.zip
BuildTools/windows/oldlogger.txt

*.o


BuildTools/macosx/temp1/boost_1_57_0/b2

*.xcworkspacedata

*.plist
.vs/slnx.sqlite
BuildTools/temp/CLAPACK-3.1.1-VisualStudio/BLAS/blas.vcproj
*.sqlite-journal
osm/
internationalization/.vscode/launch.json
*.swo
internationalization/pofiles/new_zh_CN.mo
internationalization/.vscode/settings.json
internationalization/~$zh_CN.xlsx

GeoDamake.opt
