[Desktop Entry]
Version=1.18
Type=Application
Name=GeoDa
GenericName=GeoDa Software
Comment=GeoDa Software
Exec=GeoDa
TryExec=GeoDa
Icon=geoda
Categories=Education